body{
text-align:center;
font-family:Arial;
background:#222;
color:white;
}

#game{
width:600px;
height:400px;
background:#444;
margin:auto;
position:relative;
border:3px solid white;
overflow:hidden;
}

#player{
width:40px;
height:40px;
background:cyan;
position:absolute;
left:280px;
top:180px;
}

.enemy{
width:40px;
height:40px;
background:red;
position:absolute;
}

.wall{
width:80px;
height:40px;
background:brown;
position:absolute;
}